html {
    background: url(./img/HP-Medailles-Vdef-desktop.bmp) center top no-repeat fixed;
}

/*
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

#table_list {
    overflow: auto;
    position: fixed;
    background: black;
    display: flex;
    flex-direction: column;
}

#search-input {
    text-align: left;
    color: black;
    min-width: 400px;
    font-size: 11pt;
    height: 2%;
    width: 2%;
    border-style: double;
    border-width: 3px;
    border-radius: 10px;
    border-color: gray;
    margin: auto;
    padding: 3px;
    background: rgba(174, 174, 174, 0.579);
}

#main {
    margin: auto;
    height: 100%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.table_donne {
    /*position: absolute;*/
    background: rgba(174, 174, 174, 0.579);

    backdrop-filter: blur(3px);
    /*Appliquer un flou de 5 pixels */
    /*z-index: -1;
    Pour placer l'arrière-plan derrière le contenu */
}

table {
    margin: 0 auto;
    /* Centre le tableau horizontalement */
    border-collapse: collapse;
    /* Fusionne les bordures de cellules */
}

th,
td {
    border: 1px solid black;
    /* Ajoute une bordure aux cellules */
    padding: 8px;
    /* Ajoute de l'espace à l'intérieur des cellules */
    text-align: center;
    /* Centre le texte dans les cellules */
}

#content {
    width: 100%;
}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background: rgba(174, 174, 174, 0.579);
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar button {
    display: block;
    color: black;
    padding: 16px;
    width: 100%;
    border: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

/* Active/current link */
.sidebar button.active {
    background: rgba(174, 174, 174, 0.579);
    color: white;
}



/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    /*height: 1000px;*/
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar button {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar button {
        text-align: center;
        float: none;
    }
}